@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');
$bg-color: #EE5514 ;
@mixin diss () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin der () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin vh ($vhh: 100vh) {
   width: 100%;
   height:  $vhh;
}
@mixin bok () {
    width: 50%;
    height: 100%;
 }
 @mixin big () {
    width: 100%;
    height: 100%;
 }
 


*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapphone{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-image: url(../img/bg.png); padding: 0 30px;
    header{
        width: 100%;
        height: 15vh;
        display: flex;
        .leftheader{
            width: 30%;
            height: 15vh;
    display: flex;
    align-items: center;
    .qfw{
        background-color: transparent;
        width: 20px;
        outline: none;
        border: none;
        color: #000000;
        cursor: pointer;
        position: relative;
        bottom: 10px;
        .opa{
            width: 80px;
            background-color: transparent;
            outline: none;
            border: none;
            background-color:rgb(255, 255, 255) ;
            font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #EE5514;
        cursor: pointer;
        
        }
    }
    
    h3{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #1A0A03;
    position: relative;
    right: 40px;
    }
    .logopuma{
    position: relative;
    bottom: 13px;
    margin-left: 10px;
    }
        }
        .rightheader{
            width: 70%;
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 20px;
            .Btnhed1{
                width: 107px;
        height: 49px;
        background: #EE5514;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-align: center;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    position: relative;
    right: 20px;
        
            }
        }
    }
    main{
        width: 100%;
        height: 80vh;
        padding-top: 50px;
      
        .textmain1{
            font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 120%;
color: #1A0A03;
        }
        .textmain2{
            font-family: 'Source Serif Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            color: #EE5514;
        }
        .textmain3{
            margin-top: 20px;
            font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
        }
.box1{
    display: flex;
}
    }
}
   

.wrap{
width: 100%;
height: 100vh;
display: flex;

.homeLeft {
    width: 75%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/bg.png);
    padding-left: 150px;
    padding-top: 20px;
    header{
        width: 100%;
        height: 15vh;
        display: flex;
    
        .leftheader{
            width: 30%;
            height: 100%;
display: flex;
align-items: center;
h3{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
position: relative;
right: 40px;
}
.logopuma{
    position: relative;
    bottom: 13px;
}
        }
        .rightheader{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 20px;
            .menuhead{
                font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #EE5514;

            }
            .menuhead1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
                margin-left: 40px;
            }
        }
    }
    main{
        width: 100%;
        height: 80vh;
        padding-top: 80px;

      
        .textmain1{
            font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 61px;
line-height: 120%;
color: #1A0A03;
        }
        .textmain2{
            font-family: 'Source Serif Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 61px;
            line-height: 120%;
            color: #EE5514;
        }
        .textmain3{
            margin-top: 20px;
            font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
        }
.box1{
    display: flex;
}
    }
}

.homeRight {
    width: 25%;
    height: 100%;
    border-style: solid;
    border-width: 0 0 100vh 160px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    position: relative;
    left: -160px;
    padding-right: 150px;
    .boxkross{
        width: 300px;
height: 300px;
background-image: url(../img/ramena.png);
background-size: cover;
position: relative;
right: 230px;
top: 80px;
z-index: 3;
.shadowwcros{
    width: 450px;
    height: 170px;
    position: relative;
    bottom: 130px;
    right: 80px;
    z-index: 1;
}
.krosapps{
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 470px;
    left: 10px;
    z-index: 1;
}
.ramena{
    width: 450px;
    height: 300px;
    position: relative;
    right: 90px;
  z-index: 2;

}
    }

    .headrightwr1{
        width: 200px;
        height: 15vh;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .Btnhed1{
            width: 137px;
    height: 59px;
    background: #EE5514;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
position: relative;
right: 20px;
    
        }
    }
}

}



.wrap2{
width: 100%;
height: 20vh;
position: relative;
padding-left: 150px;
.boxwr2{
    width: 920px;
height: 115px;
background: #FFFFFF;
box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
border-radius: 5px;
position: relative;
bottom: 60px;
display: flex;
align-items: center;
padding-left: 30px;
.adj{
    width: 128px;
    height: 56px;
    background: $bg-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
margin-left: 40px;
}
.linebw1{
    width: 42px;
height: 0px;
border: 1px solid #EE5514;
transform: rotate(90deg);
margin-left: 15px;
}
.boxwr2vbox1{
    width: 103px;
height: 70px;
margin-left: 25px;
.brandwrtext2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 5px;
}
.boxawqp{
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
    right: 3px;
    // top: 5px;
    .Pumaatextvbo1{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
    }
    select{
        background-color: transparent;
        width: 130px;
        height: 50px;
        outline: none;
        border: none;
        
        cursor: pointer;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #ec4c08;
    }
    option{
        background-color: transparent;
        outline: none;
        border: none;
        background-color:rgb(0, 0, 0) ;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #ffff;
line-height: 160%;
    cursor: pointer;
    width: 130px;
    
    }
}
}

.boxwr2vbox{
    width: 103px;
height: 70px;
margin-left: 25px;
.brandwrtext2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 5px;
}
.boxawqp{
    width: 100%;
    height: 30px;
    display: flex;
    position: relative;
    right: 3px;
    // top: 5px;
    .Pumaatextvbo1{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
    }
    select{
        background-color: transparent;
        width: 130px;
        height: 50px;
        outline: none;
        border: none;
        
        cursor: pointer;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #ec4c08;
    }
    option{
        background-color: transparent;
        outline: none;
        border: none;
        background-color:rgb(0, 0, 0) ;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #ffff;
line-height: 160%;
    cursor: pointer;
    width: 130px;
    
    }
}
}
}

}
.wrap3{
    width: 100%;
    height: 80vh;
    // background-color: brown;
    display: flex;
    padding: 0 150px;
   
.leftwrap3{
    width: 50%;
    height: 100%;
    padding-top: 100px;
    .textwr3{
        font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.05em;
color: #EE5514;
    }
    .textwr4{
        font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 130%;
color: #1A0A03;
margin-top: 10px;
    }
    .textwr5{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 20px;
    }
}
.rightwrap3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .boxr3{
        width: 455px;
        height: 270px;
        background-size: cover;
        background-image: url(../img/wome.png);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;
        top: 105px;
        .play{
            width: 70px;
            height: 70px;
            cursor: pointer;
        }
    }
    .wallwomen{
        width: 455px;
        height: 270px;
        z-index: 1;
        position: relative;
        left: 25px;
        bottom: 170px;
    
    }
}
}

.wrap4{
    width: 100%;
    height: 20vh;
    padding: 0 150px;
    @include der ;
    position: relative;
    bottom: 50px;
    .textwr4{
        font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.05em;
color: #EE5514;

    }
    .textwr41{
        font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 130%;
color: #1A0A03;
margin-top: 10px;

    }
}
.wrap5{
    @include vh ($vhh: 70vh) ;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
.card5{
    width: 330px;
height: 390px;
background: #FFFFFF;
box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
border-radius: 10px;
padding-top: 46px;
display: flex;
flex-direction: column;
align-items: center;
.boxcr5{
    width: 140px;
height: 140px;
background-image: url(../img/elips1.png);
display: flex;
justify-content: center;
align-items: center;
}
.textwr54{
    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
text-align: center;
color: #1A0A03;
margin-top: 38px;
}
.textwr55{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 10px;
text-align: center;
}
.boxcr55{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .textwr551{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #EE5514;
    }
    .rightwr5p{
      width:  4px ;
      height: 8px;
        margin-left: 10px;
        position: relative;
        top: 8px;
    }
}
}
.card6{
    width: 330px;
    height: 390px;
background: #ffeae0;
box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
border-radius: 10px;
padding-top: 46px;
display: flex;
flex-direction: column;
align-items: center;
.boxcr5{
    width: 140px;
height: 140px;
background-image: url(../img/Ellipse\ 2.png);
display: flex;
justify-content: center;
align-items: center;
}
.textwr54{
    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
text-align: center;
color: #1A0A03;
margin-top: 38px;
}
.textwr55{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 10px;
text-align: center;
}
.boxcr55{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .textwr551{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #EE5514;
    }
    .rightwr5p{
      width:  4px ;
      height: 8px;
        margin-left: 10px;
        position: relative;
        top: 8px;
    }
}
}
}
.wrap6{
    @include vh($vhh:120vh) ;
padding-top: 80px;
    .nicwr6{
        width: 100%;
        height: 30%;
        padding: 0 150px;
        .textwr4{
            font-size: 20px;
            font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.05em;

color: #EE5514;
        }
        .textwr6{
            font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 130%;
color: #1A0A03;
margin-top: 13px;
        }
        .boxwr6{
            width: 100%;
height: 60px;
margin-top: 16px;
display: flex;
.leftboxwr6{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    .txtwr61{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0.05em;
color: #1A0A03;

opacity: 0.7;
    }
    .txtwr62{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0.05em;
color: #1A0A03;
opacity: 0.7;
margin-left: 35px;
    }
    .textwr65432{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140%;
letter-spacing: 0.05em;
color: #EE5514;
margin-left: 40px;
    }
    .linewr6{
        width: 47px;
height: 0px;
background: #EE5514;
border: 1px solid #EE5514;
position: relative;
top: 20px;
right: 48px;

    }
    .textwr654321{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0.05em; 
color: #1A0A03;
opacity: 0.7;
margin-left: 30px;
    }
    .textwr66{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0.05em;
color: #1A0A03;
opacity: 0.7;
margin-left: 24px;
    }
}
.rightboxwr6{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .boxwr6q{
        width: 50px;
height: 50px;
background-image: url(../img/kolowr61.png);
@include diss ;
margin-right: 50px;
    }
    .boxwr6q1{
        width: 50px;
height: 50px;
background-image: url(../img/kolowr61.png);
@include diss ;
    }
}
        }
    }
.werwr6{
    width: 100%;
    height: 70%;
    padding: 0 150px;
    display: flex;
   .rightwer666{
       width: 50%;
       height: 100%;
       display: flex;
       justify-content: space-between;
       padding-right: 40px;
   }
.leftrihthq10{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
.boxwer6{
    width: 210px;
height: 380px;
margin-top: 40px;
.btnwr6{
    position: absolute;
width: 128px;
height: 56px;
background: #EE5514;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
border: none;
}
.boxwrboxwr6{
    width: 200px;
height: 30px;
display: flex;
margin-top: 10px;
.textwrbbo6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
}
.textwrbbo61{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.8;
margin-left: 10px;
}
}
.textwr6kr{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
margin-top: 15px;
}
.boxwrp6photo{
    width: 253px;
height: 170px;
background-image: url(../img/kross6.png);
background-size: cover;
position: relative;
right: 25px;
}
}
}
.boxwer6{
    width: 210px;
height: 380px;
margin-top: 40px;
.btnwr6{
    position: absolute;
width: 128px;
height: 56px;
background: #EE5514;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
border: none;
}
.boxwrboxwr6{
    width: 200px;
height: 30px;
display: flex;
margin-top: 10px;
.textwrbbo6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
}
.textwrbbo61{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.8;
margin-left: 10px;
}
}
.textwr6kr{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
margin-top: 15px;
}
.boxwrp6photo1{
    width: 253px;
height: 170px;
background-image: url(../img/kros62.png);
background-size: cover;
position: relative;
right: 25px;
}
}
}
.boxwer6{
    width: 210px;
height: 380px;
margin-top: 40px;
.btnwr6{
    position: absolute;
width: 128px;
height: 56px;
background: #EE5514;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
border: none;
}
.boxwrboxwr6{
    width: 200px;
height: 30px;
display: flex;
margin-top: 10px;
.textwrbbo6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
}
.textwrbbo61{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.8;
margin-left: 10px;
}
}
.textwr6kr{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
margin-top: 15px;
}
.boxwrp6photo2{
    width: 253px;
height: 170px;
background-image: url(../img/kross63.png);
background-size: cover;
position: relative;
right: 25px;
}
}
.boxwer6{
    width: 210px;
height: 380px;
margin-top: 40px;
.btnwr6{
    position: absolute;
width: 128px;
height: 56px;
background: #EE5514;
border-radius: 5px;
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
border: none;
}
.boxwrboxwr6{
    width: 200px;
height: 30px;
display: flex;
margin-top: 10px;
.textwrbbo6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
}
.textwrbbo61{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.8;
margin-left: 10px;
}
}
.textwr6kr{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
margin-top: 15px;
}
.boxwrp6photo3{
    width: 253px;
height: 170px;
background-image: url(../img/kross64.png);
background-size: cover;
position: relative;
right: 25px;
}
}
.wrap7{
    @include vh(30vh) ;
    @include diss ;
    padding-top: 60px;
  .textwr7{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
  }  
}
.wrap8{
    @include vh( 60vh) ;
    padding: 0 150px;
    padding-top: 30px;
display: flex;
.leftwrap8{
    @include bok ;

.unphowr8{
border-radius: 10px ;
width: 515px;
height: 340px;
}

}
.rihtwrap8{
    @include bok() ;
    padding-left: 80px;
    .kom11{
        margin-top: 25px;
    }
    .textwr8{
        margin-top: 10px;
        font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;

    }
    .textwr81{
        font-family: 'Poppins';
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 13px;
    }
    .textwr82{
        margin-top: 16px;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #1A0A03;

    }
    .textwr83{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.8;
margin-top: 8px;
    }
.boxwr8{
    width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
.boxboxwr8{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .boxwr6q{
        width: 50px;
height: 50px;
background-image: url(../img/kolowr61.png);
@include diss ;
margin-right: 50px;
    }
    .boxwr6q1{
        width: 50px;
height: 50px;
background-image: url(../img/kolowr61.png);
@include diss ;
    }
}
}
}
}
.wrap9{
    @include vh(70vh) ;
    padding-left: 150px;
    padding-right: 95px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .boxwr9{
        width: 100%;
        height: 344px;
        display: flex;
        align-items: center;
        position: relative;
        top: 27px;
        .pumaphoto9{
            width: 528px;
            height: 344px;
            position: relative;
            right: 28px;
        }
        .boxwrwr9{
            width: 652px;
height: 293px ;
background:  #deeafa;
border-radius: 0px 10px 10px 0px;
position: relative;
right: 54px;
bottom: 1px;
padding-top: 50px;
padding-left: 60px;
.textwr9{
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 140%;
color: #1A0A03;
}
.textwr91{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 15px;
}
.cardwr9{
    width: 506px;
height: 51px;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 5px;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 25px;
.inpwr10{
    width: 250px;
outline: none;
background-color: transparent;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #1A0A03;
opacity: 0.5;
}
.Btnwr9{
    width: 117px;
height: 51px;
background: #EE5514;
border-radius: 0px 5px 5px 0px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.03em;
color: #FFFFFF;
border: none;
}
}
        }
    }
}
.wrap10{
    width: 100%;
    height: 70vh;
    background: #fff5f1;
    padding: 0 150px;
    main{
        width: 100%;
        height: 70%;

        display: flex;
        .leftm{
width: 30%;
height: 100%;
padding-top: 60px;
.textwr10qa{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 23px;
}
.textwr10qa1{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 20px;
}
.sociable{
margin-top: 10px;
}
.boxp10q{
    width: 70px;
    height: 40px;
    display: flex;
.puma{
    position: relative;
    bottom: 20px;
}
.textwr10p{
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
color: #1A0A03;
position: relative;
right: 49px;
}
}
        }
        .uprostred{
            width: 40%;
height: 100%;
padding-top: 93px;
padding-left: 40px;
display: flex;
.boxtextwr101{
    width: 171px;
    height: 180px;

    margin-left: 60px;
    .cd10w{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;

    }
    .cd10w1{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 25px;
    }
    .cd10w2{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 10px;
    }
}
.boxtextwr10{
    width: 131px;
    height: 180px;
    .cd10w{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;

    }
    .cd10w1{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 25px;
    }
    .cd10w2{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 10px;
    }
}
        }
        .rightm{
            width: 30%;
height: 100%;
padding-top: 93px;
padding-left: 40px;
.cd10w{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
}
.cd10w1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
margin-top: 30px;
}
.boxwr1010box{
width: 272px;
height: 43px;
left: 1051px;
top: 4011px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-top:40px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 20px;
.inpwr10{
    width: 100px;
outline: none;
background-color: transparent;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #1A0A03;
opacity: 0.6;
}
.Btnwr9{
    width: 90px;
    height: 43px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    @include diss ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%; 
    color: #FFFFFF;
border: none;
}
}
        }
    }
    .wer100{
        width: 100%;
        height: 10%;

        @include diss ;
        padding-top: 20px;
        .boxwe10q{
            width: 100%;
height: 0px;
opacity: 0.2;
border: 1px solid #A6A4A4;
        }
    }
    .nicwr10{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .wer10textwr{
            font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #1A0A03;
opacity: 0.7;
        }
    }
}





@media screen and (max-width:500px){
    .wrap10{
        display: none;
    }
    .wrap10phone{
        display: flex;
        flex-direction: column;
    }
    .wrap{
    display: none;
}
   .wrapphone{
       display: flex;
       flex-direction: column;
   }
.wrap2{
    padding-left: 30px;
    .boxwr2{
        width: 400px;
    height: 105px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
.adj{
    width: 80px;
    height: 40px;
    font-size: 14px;
}
    }
   
    .linebw1{
       display: none;
    }
    .boxwr2vbox{
      display: none;
    }
    .boxawqp{
        width: 100%;
        height: 30px;
        display: flex;
        position: relative;
        right: 3px;
        // top: 5px;
        .Pumaatextvbo1{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
        }
        select{
            background-color: transparent;
            width: 130px;
            height: 50px;
            outline: none;
            border: none;
            
            cursor: pointer;
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #ec4c08;
    position: relative;
        }
        option{
            background-color: transparent;
            outline: none;
            border: none;
            background-color:rgb(0, 0, 0) ;
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffff;
    line-height: 160%;
        cursor: pointer;
        width: 130px;
        
        }
    }
    }




    .wrap3{
        width: 100%;
        height: 60vh;
        display: flex;
        padding: 0 30px;
       
    .leftwrap3{
        width: 50%;
        height: 100%;
        padding-top: 25px;
        .textwr3{
            font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
        }
        .textwr4{
    font-size: 26px;
    margin-top: 10px;
        }
        .textwr5{
    font-size: 10px;
    margin-top: 10px;
        }
    }
    .rightwrap3{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .boxr3{
            width: 175px;
            height: 90px;
            position: relative;
            top: 65px;
            .play{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
        .wallwomen{
            display: none;
        
        }
    }
    }

    .wrap4{
        width: 100%;
        height: 20vh;
        padding: 0 30px;
        @include der ;
        position: relative;
        bottom: 30px;
        .textwr4{
            font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
    
        }
        .textwr41{
            font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #1A0A03;
    margin-top: 10px;
    
        }
    }
    .wrap5{
        @include vh ($vhh: 180vh) ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 30px;
    .card5{
        width: 300px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
margin-top: 30px;
    .boxcr5{
        width: 100px;
    height: 100px;
    background-image: url(../img/elips1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .star1qqq{
        width: 60px;
        height: 60px;
    }
    }
    .textwr54{
        font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1A0A03;
    margin-top: 38px;
    }
    .textwr55{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 10px;
    text-align: center;
    }
    .boxcr55{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    
        .textwr551{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #EE5514;
        }
        .rightwr5p{
          width:  4px ;
          height: 8px;
            margin-left: 10px;
            position: relative;
            top: 8px;
        }
    }
    }
    .card6{
        width: 300px;
    height: 340px;
    background: #ffeae0;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .boxcr5{
        width: 100px;
    height: 100px;
    background-image: url(../img/Ellipse\ 2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .star1qqq{
        width: 60px;
        height: 60px;
    }
    }
    .textwr54{
        font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1A0A03;
    margin-top: 38px;
    }
    .textwr55{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 10px;
    text-align: center;
    }
    .boxcr55{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .textwr551{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #EE5514;
        }
        .rightwr5p{
          width:  4px ;
          height: 8px;
            margin-left: 10px;
            position: relative;
            top: 8px;
        }
    }
    }
    }

    .wrap6{
        @include vh($vhh:175vh) ;
    padding-top: 80px;
        .nicwr6{
            width: 100%;
            height: 15%;
            padding: 0 30px;
            .textwr4{
                font-size: 18px;
    font-size: 18px;
    
    color: #EE5514;
            }
            .textwr6{
     
    font-size: 38px;
   
            }
            .boxwr6{
                width: 100%;
    height: 60px;
    margin-top: 16px;
    display: flex;
    .leftboxwr6{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .txtwr61{
          
    font-size: 16px;
        }
        .txtwr62{
        
    font-size: 16px;
    margin-left: 25px;
        }
        .textwr65432{
          
    font-size: 16px;
 
    margin-left: 30px;
        }
        .linewr6{
            width: 42px;
    height: 0px;
    position: relative;
    top: 20px;
    right: 43px;
    
        }
        .textwr654321{
          
    font-size: 16px;
    margin-left: 1px;
        }
        .textwr66{
            
    font-size: 16px;
    margin-left: 14px;
        }
    }
    .rightboxwr6{
      display: none;
    }
            }
        }
    .werwr6{
        width: 100%;
        height: 85%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .rightwer666{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: space-between;
         
            padding-top: 90px;
            
        }
     .leftrihthq10{
         width: 100%;
         height: 60%;
         display: flex;
         justify-content: flex-start;
         padding-top: 140px;
         position: relative;
         right: 40px;
         
        
     }
    .boxwer6{
        width: 210px;
    height: 380px;
    margin-top: 0px;
    .btnwr6{
    font-size: 16px;
    line-height: 160%;

    }
    .boxwrboxwr6{
        width: 200px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    .textwrbbo6{

    font-size: 16px;
    }
    .textwrbbo61{
      
    font-size: 16px;
   
    margin-left: 10px;
    }
    }
    .textwr6kr{

  
    margin-top: 15px;
    }
    .boxwrp6photo{
        width: 223px;
    height: 150px;
    background-image: url(../img/kross6.png);
    background-size: cover;
    position: relative;
    right: 25px;
    }
    }
    }
    .boxwer6{
        width: 210px;
    height: 380px;
    margin-top: 40px;
    
    .boxwrboxwr6{
        width: 200px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    .textwrbbo6{
    font-size: 16px;
    
    }
    .textwrbbo61{
      
    font-size: 16px;
    margin-left: 10px;
    }
    }
    .textwr6kr{
      
    font-size: 22px;
    
    }
    .boxwrp6photo1{
        width: 223px;
        height: 150px;
    background-image: url(../img/kros62.png);
    background-size: cover;
    position: relative;
    right: 25px;
    }
    }
    }
    .boxwer6{
        width: 210px;
    height: 380px;
    margin-top: 40px;
    .boxwrboxwr6{
        width: 200px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    .textwrbbo6{

    font-size: 16px;

    }
    .textwrbbo61{
        
    font-size: 16px;
    
    margin-left: 10px;
    }
    }
    .textwr6kr{
        
    font-size: 22px;
    margin-top: 15px;
    }
    .boxwrp6photo2{
        width: 223px;
        height: 150px;
    background-image: url(../img/kross63.png);
    background-size: cover;
    position: relative;
    right: 25px;
    }
    }
    .boxwer6{
        width: 210px;
    height: 380px;
    margin-top: 40px;
    .boxwrboxwr6{
        width: 200px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    .textwrbbo6{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    }
    .textwrbbo61{
    font-size: 16px;
    margin-left: 10px;
    }
    }
    .textwr6kr{
      
    font-size: 22px;
    margin-top: 15px;
    }
    .boxwrp6photo3{
        width: 223px;
        height: 150px;
    background-image: url(../img/kross64.png);
    background-size: cover;
    position: relative;
    right: 25px;
    }
    }

    .wrap7{
        @include vh(30vh) ;
        @include diss ;
        padding-top: 60px;
      .textwr7{
        font-size: 38px;
      }  
    }
    .wrap8{
        @include vh( 110vh) ;
        padding: 0 30px;
        padding-top: 30px;
    display: flex;
    flex-direction: column;
    .leftwrap8{
       width: 100%;
       height: 30%;
    
    .unphowr8{
    border-radius: 10px ;
    width: 405px;
    height: 200px;
    background-size: cover;
    }
    
    }
    .rihtwrap8{
        width: 100%;
        height: 70%;
        padding-top: 40px;
        padding-right: 30px;

        .kom11{
            margin-top: 25px;
        }
        .textwr8{
            margin-top: 10px;
           
    font-size: 20px;
  
    
        }
        .textwr81{
          
    font-size: 12px;
    margin-top: 13px;
        }
        .textwr82{
            margin-top: 16px;
    font-size: 16px;
    
    
        }
        .textwr83{
           
    font-size: 12px;
   
    margin-top: 8px;
        }
    .boxwr8{
        width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .boxboxwr8{
        width: 150px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .boxwr6q{
            width: 50px;
    height: 50px;
    background-image: url(../img/kolowr61.png);
    @include diss ;
    margin-right: 50px;
        }
        .boxwr6q1{
            width: 50px;
    height: 50px;
    background-image: url(../img/kolowr61.png);
    @include diss ;
        }
    }
    }
    }
    }


    .wrap9{
        @include vh(60vh) ;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .boxwr9{
            width: 100%;
            height: 644px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            top: 0px ;
            .pumaphoto9{
                width: 288px;
                height: 154px;
                position: relative;
                left: 55px;
                top: 15px;
            }
            .boxwrwr9{
                width: 400px;
    height: 163px ;
    background:  #deeafa;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    right: 0px;
    bottom: 1px;
    padding-top: 30px;
    padding-left: 30px;

    .textwr9{
        font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #1A0A03;
    }
    .textwr91{
     display: none;
    }
    .cardwr9{
        width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    .inpwr10{
        width: 120px;
    outline: none;
    background-color: transparent;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #1A0A03;
    opacity: 0.5;
    }
    .Btnwr9{
        width: 107px;
    height: 40px;
    background: #EE5514;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    }
    }
            }
        }
    }




    }




    .wrap10phone{
        width: 100%;
        height: 150vh;
        background: #fff5f1;
        padding: 0 30px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        .boxwe10ql{
            width: 100%;
            height: 1px;
            opacity: 0.2;
border: 1px solid #A6A4A4;
margin-top: 120px;
        }
        .textpgowj{
width: 100%;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
        }

            .textpgowj{
                font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
        }

        .cd10w{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    
        }
        .cd10w1{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 25px;
        }
        .cd10w2{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 10px;
        }
    }
    .boxtextwr10{
        width: 131px;
        height: 180px;
        .cd10w{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    
        }
        .cd10w1{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 25px;
        }
        .cd10w2{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 10px;
        }
    }
            
    .cd10w{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    }
    .cd10w1{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
    margin-top: 30px;
    }
    .boxwr1010box{
    width: 272px;
    height: 43px;
    left: 1051px;
    top: 4011px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    .inpwr10{
        width: 100px;
    outline: none;
    background-color: transparent;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.6;
    }
    .Btnwr9{
        width: 90px;
        height: 43px;
        background: #EE5514;
        border-radius: 0px 5px 5px 0px;
        @include diss ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%; 
        color: #FFFFFF;
    border: none;
    }
}
        .textwr10qa{
    
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #1A0A03;
            opacity: 0.7;
            margin-top: 23px;
        }
        .textwr10qa1{
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        margin-top: 20px;
        }
        .sociable{
        margin-top: 50px;
        width: 180px;
        height: 20px;
        }
        .boxp10q{
            width: 70px;
            height: 40px;
            margin-top: 50px;
            display: flex;
    
        .puma{
            position: relative;
            bottom: 20px;
            
        }
        .textwr10p{
        font-family: 'Source Serif Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        color: #1A0A03;
        position: relative;
        right: 49px;
        }
        }
        .boxp10q1{
            width: 100%;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 60px;
            select{
                background-color: transparent;
                width: 170px;
                height: 50px;
                outline: none;
                border: none;
                
                cursor: pointer;
                font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #ec4c08;
            }
            option{
                background-color: transparent;
                outline: none;
                border: none;
                background-color:rgb(0, 0, 0) ;
                font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffff;
        line-height: 160%;
            cursor: pointer;
            width: 130px;
            
            }
        }
    
        .cd10w1{
            font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
margin-top: 140px;
    
        }
        .linewr10p{
            width: 100%;
            height: 1px;
            background-color: #A6A4A4;
opacity: 0.2;
        }
    

        
        

  



